<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="grid-container">
  <%- include('partials/column-songs') %>
  <%- include('partials/column-artists') %>
  <%- include('partials/column-albums') %>
</div>

<script src="/js/script.js"></script>
</body>
</html>